<!DOCTYPE html>
<html>
<head>
  <title>JobbedOut</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="/users/new">Register Here!</a>
<a href="/session">Login Here</a>
<a href="/jobs/new">Add a new job posting here</a>
<a href="/">See all postings here</a>
<%= yield %>

</body>
</html>
